In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("kidney_disease.csv")
df.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [4]:
df.shape

(400, 26)

In [5]:
df.isnull().sum()

id                  0
age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc               152
pc                 65
pcc                 4
ba                  4
bgr                44
bu                 19
sc                 17
sod                87
pot                88
hemo               52
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [6]:
df=df.drop(["id","su","rbc","rc","wc","pot","sod","pc","sg","ba","pe","cad","ane"],axis=1)

In [7]:
df.head()

,age,bp,al,pcc,bgr,bu,sc,hemo,pcv,htn,dm,appet,classification
0,48.0,80.0,1.0,notpresent,121.0,36.0,1.2,15.4,44,yes,yes,good,ckd
1,7.0,50.0,4.0,notpresent,NaN,18.0,0.8,11.3,38,no,no,good,ckd
2,62.0,80.0,2.0,notpresent,423.0,53.0,1.8,9.6,31,no,yes,poor,ckd
3,48.0,70.0,4.0,present,117.0,56.0,3.8,11.2,32,yes,no,poor,ckd
4,51.0,80.0,2.0,notpresent,106.0,26.0,1.4,11.6,35,no,no,good,ckd

In [8]:
df.isnull().sum()

age                9
bp                12
al                46
pcc                4
bgr               44
bu                19
sc                17
hemo              52
pcv               70
htn                2
dm                 2
appet              1
classification     0
dtype: int64

In [9]:
print(df["pcc"].unique())
print(df["htn"].unique())
print(df["dm"].unique())
print(df["appet"].unique())
print(df["classification"].unique())

['notpresent' 'present' nan]
['yes' 'no' nan]
['yes' 'no' ' yes' '\tno' '\tyes' nan]
['good' 'poor' nan]
['ckd' 'ckd\t' 'notckd']

In [10]:
df["pcc"] = df["pcc"].replace(to_replace={'present':1,'notpresent':0})
df["htn"] = df["htn"].replace(to_replace={'yes':1,'no':0})
df["dm"] = df["dm"].replace(to_replace={'yes':1,' yes':1,'\tyes':1,'no':0,'\tno':0})
df["appet"] = df["appet"].replace(to_replace={'good':1,'poor':0})
df["classification"] = df["classification"].replace({'ckd':1,'ckd\t':1,'notckd':0})
df=df.replace("\t?",31)

In [11]:
df.head()

,age,bp,al,pcc,bgr,bu,sc,hemo,pcv,htn,dm,appet,classification
0,48.0,80.0,1.0,0.0,121.0,36.0,1.2,15.4,44,1.0,1.0,1.0,1
1,7.0,50.0,4.0,0.0,NaN,18.0,0.8,11.3,38,0.0,0.0,1.0,1
2,62.0,80.0,2.0,0.0,423.0,53.0,1.8,9.6,31,0.0,1.0,0.0,1
3,48.0,70.0,4.0,1.0,117.0,56.0,3.8,11.2,32,1.0,0.0,0.0,1
4,51.0,80.0,2.0,0.0,106.0,26.0,1.4,11.6,35,0.0,0.0,1.0,1

In [12]:
df = df.fillna(method="ffill")

In [13]:
df.isnull().sum()

age               0
bp                0
al                0
pcc               0
bgr               0
bu                0
sc                0
hemo              0
pcv               0
htn               0
dm                0
appet             0
classification    0
dtype: int64

In [14]:
X = df.iloc[:,:12]
y = df.iloc[:,-1]

In [15]:
X.head()

    age    bp   al  pcc    bgr    bu   sc  hemo pcv  htn   dm  appet
0  48.0  80.0  1.0  0.0  121.0  36.0  1.2  15.4  44  1.0  1.0    1.0
1   7.0  50.0  4.0  0.0  121.0  18.0  0.8  11.3  38  0.0  0.0    1.0
2  62.0  80.0  2.0  0.0  423.0  53.0  1.8   9.6  31  0.0  1.0    0.0
3  48.0  70.0  4.0  1.0  117.0  56.0  3.8  11.2  32  1.0  0.0    0.0
4  51.0  80.0  2.0  0.0  106.0  26.0  1.4  11.6  35  0.0  0.0    1.0

In [16]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: classification, dtype: int64

In [17]:
from sklearn.model_selection import train_test_split,RandomizedSearchCV
from sklearn.ensemble import RandomForestClassifier
import numpy as np
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=40)
rf = RandomForestClassifier()

In [18]:
#hyperparameter tuning
n_estimators = [int(i) for i in np.linspace(100,1000,10)]
criterion = ['gini','entropy']
max_depth = [int(i) for i in np.linspace(100,1000,10)]
min_samples_split = [2,3,5,6,8,9]
min_samples_leaf = [1,2,8,6,5,7]
max_features = ['auto','sqrt','log2']

param_grid = {'n_estimators':n_estimators,
              'criterion':criterion,
              'max_depth':max_depth,
              'min_samples_split':min_samples_split,
              'min_samples_leaf':min_samples_leaf,
              'max_features':max_features
}
print(param_grid)

{'n_estimators': [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000], 'criterion': ['gini', 'entropy'], 'max_depth': [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000], 'min_samples_split': [2, 3, 5, 6, 8, 9], 'min_samples_leaf': [1, 2, 8, 6, 5, 7], 'max_features': ['auto', 'sqrt', 'log2']}

In [19]:
rf_cv = RandomizedSearchCV(estimator=rf,param_distributions=param_grid,n_iter=100,verbose=2,cv=3,n_jobs=-1)
rf_cv.fit(X_train,y_train)

Fitting 3 folds for each of 100 candidates, totalling 300 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:   17.3s
[Parallel(n_jobs=-1)]: Done 154 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done 300 out of 300 | elapsed:  2.3min finished

RandomizedSearchCV(cv=3, error_score=nan,
                   estimator=RandomForestClassifier(bootstrap=True,
                                                    ccp_alpha=0.0,
                                                    class_weight=None,
                                                    criterion='gini',
                                                    max_depth=None,
                                                    max_features='auto',
                                                    max_leaf_nodes=None,
                                                    max_samples=None,
                                                    min_impurity_decrease=0.0,
                                                    min_impurity_split=None,
                                                    min_samples_leaf=1,
                                                    min_samples_split=2,
                                                    min_weight_fraction_leaf=0.0,
                                                    n_estimators=100,
                                                    n_jobs...
                   param_distributions={'criterion': ['gini', 'entropy'],
                                        'max_depth': [100, 200, 300, 400, 500,
                                                      600, 700, 800, 900,
                                                      1000],
                                        'max_features': ['auto', 'sqrt',
                                                         'log2'],
                                        'min_samples_leaf': [1, 2, 8, 6, 5, 7],
                                        'min_samples_split': [2, 3, 5, 6, 8, 9],
                                        'n_estimators': [100, 200, 300, 400,
                                                         500, 600, 700, 800,
                                                         900, 1000]},
                   pre_dispatch='2*n_jobs', random_state=None, refit=True,
                   return_train_score=False, scoring=None, verbose=2)

In [20]:
best_param = rf_cv.best_estimator_

In [21]:
y_pred = best_param.predict(X_test)
from sklearn.metrics import confusion_matrix,accuracy_score
print(confusion_matrix(y_test,y_pred))
print("Accuracy score:{}".format(accuracy_score(y_test,y_pred)))

[[24  0]
 [ 0 56]]
Accuracy score:1.0

In [22]:
import pickle
file = open("random_forest_kidney_model.pkl","wb")
pickle.dump(rf_cv,file)